<center>

  <h1>{{title}}</h1>
  <a href="/"> <b>View Leads</b></a>
  <p>View Leads</p>

  <div>
    <table>
      {{#each data}}
      <tr>
        {{#eachProperty this}}
        <td>{{value}}</td>
        {{/eachProperty}}
        <td> <a href="/leads/delete/{{this.id}}">Delete</a></td>
      </tr>
      {{/each}}
    </table>
  </div>t
</center>