<center>

  <h1>{{title}}</h1>
  <p>View Leads</p>

  <div>
    <table>
      {{#each data}}
      <tr>
        {{#eachProperty this}}
        <td>{{value}}</td>
        {{/eachProperty}}
      </tr>
      {{/each}}
    </table>
  </div>
</center>