<center>
<h1>{{title}}</h1>
<a href="/leads"> <b>View All Leads</b></a>
<br>
<b>---</b>
{{#eachProperty lead}}

<b>{{value}}</b>
<b>---</b>
{{/eachProperty}}
<br>
<br>
{{#each texts}}
  <textarea name="h1" id="" cols="90" rows="10">{{this}}</textarea>
{{/each}}
</center>
